<ion-header id="header-equipos">
  <ion-toolbar>
      <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title id="titulo"><font color="white">Favoritos</font></ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div id="cuerpo">
    
    <br>
    
     
    <div *ngFor="let jugador of jugadoresfb | async" class="ion-padding">
        <ion-list>
          <ion-item>
          <h1>{{ jugador.nombre }}</h1>
            
            <br>
            <ion-img src="assets/img/{{ jugador.nombre }}.png" width="10" height="50"></ion-img>
            <ion-icon name="blank"></ion-icon>
            
        <ion-icon
          name="trash"
          (click)="nbaService.presentAlertConfirm(jugador.jugadorId, jugador.nombre)">
        </ion-icon>
        
          </ion-item>         

          
        
        </ion-list> 
    </div>
    </div>
  </ion-content>