#titulo {
    background-color: #17408B;
    font-size: 40px;
    font-family: Papyrus;
    
}
#cuerpo {
    background-color: #17408B;
}

.center {
    background-color: #17408B;
}

#icono {
    background-color: #c9082A;
}

#spinner {
    margin-left: 150px;
}

